<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Links</th>
            <th>Tags</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
{% for bot in include.bots %}
        <tr>
            {% if bot.links.self %}
            <td><a href="{{ bot.links.self }}">{{ bot.name }}</a></td>
            {% else %}
            <td>{{ bot.name }}</td>
            {% endif %}
            <td>Links xxx</td>
            <td>Tags</td>
            <td>{{ bot.description }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>