<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla possimus sunt ipsa harum repellat labore illo debitis unde odit, aut aliquid saepe vel dignissimos, itaque laboriosam cupiditate neque perspiciatis praesentium.

    <div>
        {{ content }}
    </div>

    
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script>
    let table = new DataTable('#myTable', {
        // config options...
    });
    </script>
</body>
</html>